<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="css/pico.min.css">
  <title>
    Guessing game
  </title>
</head>

<body>
  <main class="container">
    <hgroup>
      <h1>
        Guess the Something
      </h1>
      <h2>
        Payout API demo - Wave All-Hands 12-07-2022
      </h2>
    </hgroup>


    <article>
    <form action="guess" method="POST">
      <div class="grid">
      <label for="name">
        Your name:
        <input type="text" id="name" name="name" required>
      </label>

      <label for="number">
        Your phone number:
        <input type="text" id="number" name="number" placeholder="+2212345678" required>
      </label>
      </div>

      <label for="guess">
        Your guess:
        <input type="text" id="guess" name="guess">
      </label>

      <input type="submit">
    </form>
    </article>

  </main>
</body>

</html>
