<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐧</text></svg>">
  <link rel="stylesheet" href="/static/pico.min.css">
  <link rel="stylesheet" href="/static/extra.css">
  <title>
    Quiz | Payout API demo
  </title>
</head>

<body>
  <main class="container">
    <article class="grid">
      <div>
        <header>
          <hgroup>
            <h1>
              Quiz
            </h1>
            <h2>
              Payout API demo - Wave All Hands
            </h2>
          </hgroup>
        </header>

        <form action="/" method="POST">
          <h5>Question:</h5>
          <ul>
            <li>What is our current record of <b>unique merchant payers</b> in a single day?</li>
            <li>Quel est notre record actuel de <b>paiements marchands uniques</b> dans une seule journée?</li>
          </ul>
          <label for="guess">
            Your guess:
            <input type="number" min=0 max=1000000 id="guess" name="guess" required>
          </label>

          <div class="grid">
            <label for="name">
              Your Name:
              <input type="text" id="name" name="name" minlength="4" required>
            </label>

            <label for="number">
              Your mobile:
              <input type="tel" id="number" name="number" value="+221" required>
            </label>
          </div>

          <input type="submit" value="Submit / Soumettre">
        </form>
      </div>
      <!-- <div class="qrcode" style="border-radius: 0.25rem; border-width: 4px; border-color: rgb(0, 0, 0);"></div> -->
      <div style="padding: 3rem; padding-bottom: 0;">
        <img src="static/qr.svg" style="width:100%; border-style: solid; border-radius: 0.25rem; border-width: 1px; border-color: rgb(241 245 249); filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));">
        <div style="padding:0.5rem; display: flex; align-items: center; justify-content: center;">
          <h3><a href="https://quiz.bakdor.com">https://quiz.bakdor.com</a></h3>
        </div>
      </div>
    </article>

  </main>
</body>

</html>
