<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="css/pico.min.css">
  <title>
    Guessing game
  </title>
</head>

<body>
  <main class="container">
    <hgroup>
      <h1>
        Payout API demo
      </h1>
      <h2>
        Wave All-Hands
      </h2>
    </hgroup>

    <article>
      I'm a card!
    </article>


    <form action="guess" method="POST">
      <label for="name">Your name:</label><br>
      <input type="text" id="name" name="name"><br>

      <label for="number">Your phone number:</label><br>
      <input type="text" id="number" name="number"><br>

      <button>Send my greetings</button>
    </form>

  </main>
</body>

</html>
